<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.backend.dao.ProfileMapper">
    <resultMap type="com.demo.backend.model.Profile" id="resultMap">
        <result property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>
  
    <select id="findAll" resultMap="resultMap">
        SELECT * FROM name
    </select>
    
  <select id="findByFieldId" resultMap="resultMap">
        SELECT * FROM name WHERE id = #{id}
    </select>
</mapper>